Source: ebotula
Section: net
Priority: optional
Maintainer: Steffen Laube <laube.steffen@gmx.de>
Build-Depends: debhelper-compat (= 13),
               dh-autoreconf | dh-sequence-autoreconf,
               pkg-config,
               docbook-to-man | docbook-utils
Standards-Version: 4.7.0
Rules-Requires-Root: no
Homepage: https://github.com/McWuragu/ebotula

Package: ebotula
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: IRC bot for basic channel management
 Ebotula is an IRC bot designed to automate essential channel tasks,
 including:
  * setting and saving user permissions after login
  * managing and persisting channel modes and topics
  * displaying custom channel greetings
  * adding and removing ban masks
  * creating and handling user accounts
  * joining and parting channels automatically
  * broadcasting messages without operator rights
  * listing users currently in a channel
  * stopping and restarting the bot

