[Unit]
Description=Ebotula IRC bot
Documentation=man:ebotula(1)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ebotula
Group=ebotula
ExecStart=/usr/bin/ebotula -c /etc/ebotula/ebotula.conf
Restart=on-failure
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=true
ProtectClock=yes
ProtectHostname=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes
RestrictNamespaces=yes
CapabilityBoundingSet=~CAP_SYS_ADMIN CAP_SYS_PTRACE CAP_SYS_MODULE CAP_NET_ADMIN
AmbientCapabilities=
ReadWritePaths=/var/lib/ebotula
# Falls du Netzwerkzugriff brauchst, SystemCallFilter nicht zu hart setzen.
# Optional (vorsichtig einsetzen):
# SystemCallFilter=@system-service


[Install]
WantedBy=multi-user.target

