#!/usr/bin/make -f
export DEB_BUILD_MAINT_OPTIONS=hardening=+all
export DEB_CFLAGS_MAINT_APPEND = -Wno-date-time -g

%:
	dh $@ --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- --prefix=/usr --mandir=/usr/share/man --localstatedir=/var/lib DFLAGS=

override_dh_auto_install:
	dh_auto_install -- DFLAGS=
	# Testsuite nicht ausliefern
	rm -f debian/ebotula/usr/bin/testsuit
	# Altlasten-Verzeichnisse entfernen
	rm -rf debian/ebotula/usr/man debian/ebotula/usr/sbin
	# FHS: var/ebotula -> var/lib/ebotula
	if [ -d debian/ebotula/var/ebotula ]; then \
	  mkdir -p debian/ebotula/var/lib; \
	  mv debian/ebotula/var/ebotula debian/ebotula/var/lib/ebotula; \
	fi

override_dh_installchangelogs:
	dh_installchangelogs -k ChangeLog


# Optional: wenn du NICHT auto-starten willst, entkommentieren:
# override_dh_installsystemd:
# 	dh_installsystemd --no-start

